/* Defines the style for the paragraphs */
.Para{
    font-family: 'Segoe UI Light';
    color: white;
    font-size:x-large;
    text-align: justify;
    }
    
    /* Defines the style for the cover image */
    .Cover{
    width: 80%;
    border-radius: 20px;
    }
    
    /* Defines the style for the song image */
    .Song {
    border-radius: 10px;
    padding: 1px;
    width: 150px;
    }
    
    /* Defines the style for the heading */
    .Heading{
    font-family: 'Segoe UI Light';
    color: white;
    }
    
    /* Defines the style for the logos in the footer */
    .Logo{
    height: 30px;
    width: 30px;
    margin: 5px;
    }
    
    /* Defines the style for the main section */
    .Section{
    width: 90%;
    text-justify: newspaper;
    text-align:justify;
    text-justify: auto;
    }